<div class="container-fluid main">
  <div class="row nav-bar">
    <div class="col-3 d-flex justify-content-center logo">
      <nav class="nav">
        <a class="nav-link" href="#">LOGO</a>
      </nav>
    </div>
    <div class="col-6 d-flex justify-content-center navbar">
      <nav class="nav">
        <a class="nav-link active" href="#">Active</a>
        <a class="nav-link" href="#">Link</a>
        <a class="nav-link" href="#">Link</a>
        <a class="nav-link disabled" href="#">Disabled</a>
      </nav>
    </div>
    <div class="col-3 d-flex justify-content-end profile-email">
      <nav class="nav">
        <a class="nav-link" href="#">emai@email.com</a>
      </nav>
    </div>
  </div>
  <div class="row content">
    <div class="col-3 profile-section">
      <div class="col-9 profile">
        <div class="row">
          <div class="col d-flex justify-content-center">
            profile picture
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="col-12 d-flex justify-content-center">
              Followers
            </div>
            <div class="col-12 d-flex justify-content-center">
              999
            </div>
          </div>
          <div class="col">
            <div class="col-12 d-flex justify-content-center">
              Following
            </div>
            <div class="col-12 d-flex justify-content-center">
              999
            </div>
          </div>            
        </div>
        <div class="row">
          <div class="col d-flex justify-content-center">
            Status
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 feed">

    </div>
    <div class="col-3 empty">

    </div>
  </div>
</div>